.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;;
}

.item-completed:checked + .item-description {
    background: teal;
    text-decoration: line-through;
}

#add {
    padding: 8px 14;
    font-weight: bold;
    color: teal;
    background: pink;
    cursor: pointer;
}
